<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
body{
  margin: 50px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div { 
  width: 60%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style><title>TaskManager</title>
</head>
<body>
<ul class="breadcrumb">
  <li><a href="/home">Home</a></li>
  <li th:if="${loggedUser==project.owner}"><a href="/projects">My Projects</a></li>
  <li th:if="${loggedUser!=project.owner}"><a href="/sharedWithMe">Visible Projects</a></li>
  <li><a th:href="'/projects/' + ${project.id}" th:text="'Project ' + ${project.name}"></a></li>
  <li>Add Task</li>
</ul>
	<h1>Register new Task</h1>
	<div>
	<form id="registerTaskForm"
		th:action="@{/projects/{projectId}/addTask(projectId=${project.id})}"
		th:object="${taskForm}" method="POST">
		<label for="taskNameInput">Task Name *</label> <br><input type="text" id=taskNameInput
			required th:field="*{name}" placeholder="NAME">
			<br>
	    <label for="descriptionInput">Description</label><br> <input type="text" id=descriptionInput name="description"
			placeholder="DESCRIPTION" th:field="*{description}">
			<br><br>
		<button type="submit" class="btn btn-info">Register</button>

		
	</form>
	</div>
</body>
</html>