<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	margin: 50px;
}

td {
	font-size: 25px;
}

button {
	width: 100px;
}
</style>
<title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li th:if="${loggedUser==project.owner}"><a href="/projects">My
				Projects</a></li>
		<li><a th:href="'/projects/' + ${project.id}"
			th:text="'Project ' + ${project.name}"></a></li>
		<li th:if="${loggedUser!=project.owner}"><a href="/sharedWithMe">Visible
				Projects</a></li>
		<li><a
			th:href="'/projects/' + ${project.id} + '/task/' + ${task.id}"
			th:text="'Task ' + ${task.name}"></a></li>
		<li>All users</li>
	</ul>
	<h1>All Users</h1>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${usersList}">
					<td th:text="${user.firstName}" width="15%"></td>
					<td th:text="${user.lastName}" width="65%"></td>
					<td width="5%" th:if="${task.user != user}">
						<form method="POST"
							th:action="@{/projects/{projectId}/task/{taskId}/{userId}/share(projectId=${project.id}, taskId=${task.id}, userId=${user.id})}">
							<button type="submit" name="submit" value="value"
								class="btn btn-info">ASSIGN <span style="margin-left: 9px;"
			class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
						</form>
					</td>
					<td width="5%" th:unless="${task.user != user}">
						<form method="POST"
							th:action="@{/projects/{projectId}/task/{taskId}/{userId}/unshare(projectId=${project.id}, taskId=${task.id}, userId=${user.id})}">
							<button type="submit" name="submit" value="value"
								class="btn btn-info">REMOVE <span
			class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span></button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>