<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
body {
	margin: 50px;
}

button {
	width: 100px;
}
</style>
<title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li>My Projects</li>
	</ul>
	<h1>My Projects</h1>
	<div>
		<table class="table table-striped" width="80%">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projectsList}">
					<td width="30%"><a th:href="'/projects/' + ${project.id}"
						th:text="${project.name}"
						style="font-size: 25px; font-stretch: ultra-expanded;">...</a></td>
					<td width="55%" th:text="${project.description}"
						style="font-size: 25px">...</td>
					<td width="5%"><a class="btn btn-info"
						th:href="'/projects/' + ${project.id} + '/users/'">SHARE <span
							class="glyphicon glyphicon-share" aria-hidden="true"></span></a></td>
					<td width="10%"><form method="POST"
							th:action="@{/projects/{projectId}/delete(projectId=${project.id})}">
							<button type="submit" class="btn btn-info">
								DELETE <span class="glyphicon glyphicon-trash"
									aria-hidden="true"> </span>

							</button>
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

