<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
body{
  margin: 50px;
}
#inline{
display:inline-block;
}
</style>
<title>TaskManager</title>
</head>
<body>
	<ul class="breadcrumb">
		<li><a href="/home">Home</a></li>
		<li th:if="${loggedUser==project.owner}"><a href="/projects">My Projects</a></li>
		<li><a th:href="'/projects/' + ${project.id}" th:text="'Project ' + ${project.name}"></a></li>
		<li th:if="${loggedUser!=project.owner}"><a href="/sharedWithMe">Visible Projects</a></li>
		<li th:text="'Task ' + ${task.name}"></li>
	</ul>
	<br>
	<div id="inline">
		<a th:href="${taskId} + '/edit'" class="btn btn-info">EDIT <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
	</div>
	<div th:if="${loggedUser==task.project.owner}" id="inline">
			<a th:href="${taskId} + '/tags'" class="btn btn-info">ADD TAG <span class="glyphicon glyphicon-tags" aria-hidden="true"></span></a>
	</div>
	<br>
	<h1 th:text="${task.name}" class="text-uppercase" id="inline"
		style="font-weight: bolder;"></h1>
	<h3 th:each="tag : ${tags}" id="inline">
		<a href="#" data-toggle="popover" title="Descrizione"
			data-trigger="hover" th:data-content="${tag.description}"> <span
			class="label label-default" th:text="${tag.name}"
			th:style="'background: ' + ${tag.color} + '; color:white; width:10px'"></span></a>
	</h3>
	<p th:text="${task.description}" class="text-muted"><p>
	<br><br>
	<div th:if="${task.user != null}">
		<h3>Shared with:</h3>
		<ul class="list-group">
		<li class="list-group-item" th:text="${user.firstName} + ' ' + ${user.lastName}"></li>
		</ul>
	</div>
	<br><br>
	<table class="list-group">
		<tbody>
			<tr th:each="c : ${comments}" class="list-group-item">
				<td th:text="${c.author.firstName} + ':'" class="text-uppercase" style="font-weight: bolder;" ></td>
				<td th:text="${c.text}"></td>
			</tr>
		</tbody>
	</table>
	<form id="registerCommentForm"
		th:action="@{/projects/{projectId}/task/{taskId}/addComment(projectId=${project.id}, taskId=${task.id})}"
		method="POST">
		<textarea rows="4" cols="50" th:field="${comment.text}"
			placeholder="Add a comment here..."></textarea>
	    <br>
		<button type="submit" class="btn btn-info">POST <span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
	</form>

</body>
</html>